body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#levelPage {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    border-color: #00a500;
    border-width: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover {
    color: #000;
    font-weight: bold;
    background-color: #00a500;
}

.button:active {
    background-color: #979c97;
}

.button.locked {
    border-color: red;
    background-color: #000;
    color: #fff;
    cursor: not-allowed;
}

.back {
    margin-top: 25px;
}