body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#levelPage {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.levelButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.levelButton:hover {
    background-color: #979c97;
    color: #fff;
}

.levelButton:active {
    background-color: #979c97;
}

.levelButton.locked {
    background-color: #333;
    color: #888;
    cursor: not-allowed;
}

#backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#backButton:hover {
    background-color: #979c97;
    color: #fff;
}

#backButton:active {
    background-color: #979c97;
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#levelPage {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.levelButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.levelButton:hover {
    background-color: #979c97;
    color: #fff;
}

.levelButton:active {
    background-color: #979c97;
}

.levelButton.locked {
    background-color: #333;
    color: #888;
    cursor: not-allowed;
}

#backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#backButton:hover {
    background-color: #979c97;
    color: #fff;
}

#backButton:active {
    background-color: #979c97;
}