body {
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: background-image 0.5s ease-in-out;
}

h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

canvas {
  border: 4px solid #16b102;
}

#tolikModeButton {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #ccc;
}

.button:focus {
  outline: none;
}

body.tolik-active {
  background-image: url("../img/z.gif");
  background-size: cover;
}